html, body {
	width: 100%;
	height: 100%;
	min-height: 860px;
	background-color: #464646;
}

.tips {
	position: absolute;
	top: 0px;
	width: 180px;
	height: 27px;
	font-size: 13px;
    color: #ffefa0;
    text-align: center;
    line-height: 27px;
    display: none;
}

.cq > #header {
	width: 1590px;
	margin: 0px auto;
	height: 80px;
}
.cq > #header > div {
	float: left;
	width: 230px;
	height: 100%;
	margin-right: 10px;
}
.cq > #header > div:last-child {
	margin-right: 0px;
}

.cq > #header .datepicker-here{
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	display: initial;
	border: 1px solid rgba(255, 0, 0, 0);
	background: rgba(255, 0, 0, 0);
    position: absolute;
}

.cq > #header > .row.action {
	width: 1100px;
	max-width: 1100px;
	height: 100%;
	padding: 2.5rem 0px;
}

/*开奖号码区域宽度*/
.cq > #header > .row.action > .tarday {
    width: auto;
    max-width: 22%;
    padding-left:0px;
}
/* 前中后三区域宽度 */
.cq > #header > .row.action > .TH3 {
    width: 14%;
}
/* 前后二区域宽度 */
.cq > #header > .row.action > .LA2 {
    width: 11%;
}

.cq > #header > .row.action .button-group {
	margin-bottom: 0rem;
}
.cq > #header .button {
	padding: .4em;
}
.cq > #header .button.secondary {
	font-size: 13px;
	color: #fde9a1;
	background-color: #2d2d2d;
}
.cq > #header .button.secondary.active {
	background: brown;
}

/**
 * 开奖区域
 */
.cq>.container {
	width: 1590px;
	height: 800px;
	margin: 0px auto;
}
.cq>.container>div {
	float: left;
	margin-right: 10px;
}
.cq>.container>div:last-child {
	margin-right: 0px;
}
/**
 * 左右两边区域
 */
.cq>.container>.advice, .cq>.container>.cencus {
	width: 230px;
	height: 100%;
	background: #494949;
	border: 1px solid #252525;
}




/**
 * 号码区域
 */
.cq>.container>.code {
	width: 1100px;
	height: 100%;
}
.cq>.container>.code>.opened {
	width: 100%;
	height: 585px;
}
.cq>.container>.code>.opened>.col {
	width: 16.666%;
	/* height: 100%; */
	float: left;
	border: 1px solid #080808;
	border-left: 0px;
	border-bottom: 0px;
	background: #3c3c3c;
}
.cq>.container>.code>.opened>.col:first-child {
	border-left: 1px solid #080808;
}
.cq>.container>.code>.opened>.col .Tl.columns {
	height: 30px;
	color: #fde9a1;
	border-bottom: 1px solid #262626;
}
.cq>.container>.code>.opened>.col .Tl.columns.Tl3:hover {
	background: brown;
}
.cq>.container>.code>.opened>.col .Tl.columns.trigger {
	color: #FFF4D2;
	animation-name: trigger;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
}
@keyframes trigger {
	50% {
		background-color: brown;
	}
	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}
.cq>.container>.code>.opened>.col .columns {
	font-size: 12px;
	color: white;
	line-height: 30px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.cq>.container>.code>.opened>.col .data-row {
	height: 27.75px;
    line-height: 27px;
	background: #525252;
	border-bottom: 1px solid #262626;
}
.cq>.container>.code>.opened>.col .data-row .columns {
	height: 27.75px;
	border-right: 0px;
	border-top: 0px;
}
.cq>.container>.code>.opened>.col .data-row .columns:first-child {
	border-left: 0px;
}
.cq>.container>.code>.opened>.col .data-row:last-child .columns {
	border-bottom: 0px;
}

/**
 * 统计区
 */
.cq>.container>.code>.curcencus {
	width: 100%;
	height: 200px;
	margin-top: 15px;
	background: #494949;
	border: 1px solid #252525;
}


footer {
	width: 100%;
	color: #AAAAAA;
	text-align: center;
	margin-top: 30px;
}