/* General Demo Style */

.side {
	position: absolute;
	float: right;
	box-shadow: 1px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 66.9375em) {
	.side, .main p {
		float: none;
		box-shadow: none;
	}

}